.am-success-btn {
	background-color : $brandColor !important;
	color            : #fff;
}

.mdl-layout__container {
	height : auto;
	top    : 0;
	&.height-full {
		height : 100%;
	}
}

.default-container {
	padding          : 15px;
	margin-bottom    : 10px;

	border    : 1px solid rgba(112, 140, 96, 0.32);
	background-color : #fff;
	border-radius    : 2px;
	box-shadow       : 0 5px 10px rgba(0, 0, 0, 0.26);
}

#menu-primary-navigation {
	height : 100%;
	li {
		display : flex;
		height  : 100%;
		a {
			line-height : 90px;
		}
	}
}

.menu-primary-navigation-container {
	align-self : stretch;
}

.relative-container {
	position : relative;
}

#am-appwrap {
	@extend .relative-container;
}

.am-link {
	cursor : pointer;
	color : $successColor;
	&:hover {
		text-decoration : underline;
		color : darken($successColor, 20%);
	}
}

.img-responsive {
	display   : block;
	max-width : 100%;
	height    : auto;
}