.mdl-layout__container {
	height : auto;
	top    : 0;
}

.relative-container {
	position : relative;
}

#am-appwrap {
	@extend .relative-container;
}

.AMscope {

}

.img-responsive {
	display   : block;
	max-width : 100%;
	height    : auto;
}