.mdl-layout__container {
	height : auto;
	top    : 0;
}

.relative-container {
	position : relative;
}

.showeditform {
	position         : absolute;
	display          : block;
	width            : 100%;
	height           : 100%;
	left             : 0;
	top              : 0;
	z-index          : 2;
	background-color : #fff;
}

#am-appwrap {
	position : relative;
}

form.wide-fields {
	.mdl-textfield {
		width : 100%;
	}
}

.AMscope {
	-moz-box-sizing : border-box;
	box-sizing      : border-box;
	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}
}

.img-responsive {
	display   : block;
	max-width : 100%;
	height    : auto;
}