@include loadFont("style-parts/fonts/alicelf-font/");
#text-logo {
	color : #fff;
	@include transition();
	&:hover{
		color : $redFox;
	}
	i {
		font-size    : 40px;
		line-height  : 30px;
		float        : left;
		margin-right : 10px;
	}
	span {
		float : left;
		margin-top : 10px;
	}
}

body {
	&.am-sticky-header {
		.mdl-layout__drawer-button {
			position : fixed;
		}
		.mdl-layout__header {
			position : fixed;
		}
		.mdl-layout__content {
			padding-top : 90px;
		}
		&.admin-bar {
			.mdl-layout__drawer-button {
				top : 31px;
				/*Tablet*/
				@media (max-width : 782px) {
					top : 45px;
				}
			}
		}
	}
	/**
		 * ==================== Fix Admin bar Offset ======================
		 * 15.09.2016
		 */
	&.admin-bar {
		/*Desktop*/
		@media (min-width : 783px) {
			.mdl-layout__container {
				top : 31px;
			}
			.mdl-layout__drawer {
				padding-top : 50px;
			}
		}
		/*Tablet*/
		@media (max-width : 782px) {
			.mdl-layout__container {
				top : 45px;
			}
			.mdl-layout__drawer {
				padding-top : 60px;
			}
		}
	}
}

.mdl-layout__drawer-button {
	/*Desktop*/
	@media (min-width : 1025px) {
		display : none;
	}
}

.mdl-layout__header-row {
	height : auto;
}

/**
 * ==================== Menu Trigger ======================
 * 20.08.2016
 */
.mdl-layout__drawer {
	padding-top : 40px;
	position    : fixed;
	.mdl-layout-title {
		padding-left  : 15px;
		padding-right : 15px;
	}
	#text-logo {

		span {
			margin-top: 10px;
			line-height: 20px;
		}
	}
}

.am-logo {
	display : block;
	img {
		@extend .img-responsive;
	}
}

.mdl-layout__header {
	background-color : $gray;
}

.menu-primary-navigation-container {
	li {
		list-style : none;
		&.current-menu-item {
			background-color : $brandColor;
		}
		&:hover {
			background-color : transparentize($brandColor, .4);
		}

	}
	a {
		color           : #fff;
		text-decoration : none;
	}
}

.mdl-layout__drawer {
	li {
		&.current-menu-item {
			background-color : transparent;
			a {
				color : $brandColor;
			}
		}
		&:hover {
			background-color : transparent;
		}
		a {
			background-color : transparent;
			color            : #000;
		}
	}
}