/**
 * ==================== Menu Trigger ======================
 * 20.08.2016
 */
.mdl-layout__drawer {
	padding-top : 60px;
	.mdl-layout-title {
		padding-left  : 15px;
		padding-right : 15px;
	}
}

.am-logo {
	display : block;
	img {
		@extend .img-responsive;
	}
}

.mdl-layout__header {
	background-color: $gray;
}
.menu-primary-navigation-container {
	li {
		list-style: none;
		&.current-menu-item {
			background-color: $color-orange;
		}
		&:hover{
			background-color: transparentize($color-orange, .4);
		}

	}
	a {
		color           : #fff;
		text-decoration : none;
	}
}

.mdl-layout__drawer {
	li {
		&.current-menu-item {
			background-color: transparent;
			a {
				color : $color-orange;
			}
		}
		&:hover{
			background-color: transparent;
		}
		a {
			background-color: transparent;
			color : #000;
		}
	}
}