/**
 * ==================== Contact Form 7 ======================
 */
.wpcf7-form {
	padding      : 0;
	margin-left  : -8px;
	margin-right : -8px;
	.cf-7-formholder {
		padding      : 0;
		margin-left  : -8px;
		margin-right : -8px;
	}
	// Notices
	.wpcf7-not-valid-tip {
		color    : $dangerColor;
		position : absolute;
	}
	.wpcf7-form-control-wrap {
		display : block;
		width   : 100%;
	}
	.wpcf7-response-output {
		border        : none;
		padding       : 20px;
		line-height   : 20px;
		margin        : 15px 0;
		border-radius : 1px;
		&.wpcf7-validation-errors {
			background-color : $warningColor;
			color            : #000;
		}
		&.wpcf7-mail-sent-ng {
			background-color : $dangerColor;
			color            : #fff;
		}
		&.wpcf7-mail-sent-ok {
			background-color : $successColor;
			color            : #fff;
		}
	}

	.mdl-textfield {
		width : 100%;
	}
	// Inputs
	textarea,
	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="password"] {

	}
	select {

	}
}

/**
 * ==================== WooCommerce ======================
 */
