//$blur: "aa-blur.jpg";
//$blur: "aa-blur1.jpg";
//$blur: "aa-blur2.jpg";
//$blur: "aa-blur3.jpg";
$blur : "aa-blur4.jpg";

body {
	&.am-user-page {
		&:before {
			//background      : url("img/#{$blur}") center center no-repeat;
			@include gradient(lighten($pastel, 8%), #fff);
			content         : "";
			display         : block;
			position        : fixed;
			background-size : cover;
			width           : 100%;
			height          : 100%;
		}
		.page-content {
			overflow : hidden;
			min-height : 650px;
		}
		h1, h2, h3, h4, h5, h6 {
			color : $textColor;
		}

	}
}

#auth-forms {
	h1, h2, h3, h4, h5, h6 {
		color  : $textColor;
		margin : 0;
	}

	.mdl-textfield {

	}
	.mdl-grid {
		padding-top    : 0;
		padding-bottom : 0;
	}
}

.content-grid {
	@extend .default-container;
}

.login-spinner-handler {
	position : absolute;
	right    : 0;
	top      : -25px;
}

/**
 * ==================== Single Profile view ======================
 * 07.10.2016
 */
.top-corner-actions {
	position : relative;
	height : 1px;
	display: block;
	margin-top : -1px;
	> .link-wrapper {
		position : absolute;
		top      : -10px;
		left    : -20px;
	}
}
.corner-logout-button {
	position : absolute;
	top      : -20px;
	right    : -20px;
	cursor   : pointer;
	&:hover {
		color : $brandColor;
	}
}

.single-profile {
	h3 {
		margin-bottom : 5px;
	}
}

.icon-link-wrap {
	cursor : pointer;
	&:hover{
		color : $successColor;
	}
}