<div class="am-wrap">
	<!--Layout Preloader-->
	<div *ngIf="!layoutData.layoutDataLoaded" class="load-rising-holder">
		<div class="load">
			<div class="dot"></div>
			<div class="outline"><span></span></div>
		</div>
	</div>

	<!--Load profile by slug or current user-->
	<div *ngIf="authAndBehaviour.network_purpose === 'user_profile'" [@renderAuthTrigger]>
		<am-single-profile [renderedUser]="currentViewedUser"></am-single-profile>
	</div>

	<div *ngIf="authAndBehaviour.network_purpose === 'users_listing'" [@renderAuthTrigger]>

	</div>

	<div *ngIf="authAndBehaviour.network_purpose === 'users_activity'" [@renderAuthTrigger]>

	</div>


</div>