<div class="am-wrap">
	<div *ngIf="!auth.authorized" [@renderAuthTrigger]>
		<h1 class="text-center">
			<span *ngIf="checkdata.data">{{this.checkdata.data.action === 'reset'? 'Restore' : 'Confirm'}}</span>
			 Password</h1>
		<div id="restore-pass" class="content-grid mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">

				<div *ngIf="checkdata.loaded">
					<div *ngIf="checkdata.data == null">
						<h3 class="mdl-typography--text-center">Well, sorry pal, we can't find your info</h3>
						<div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
							<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [routerLink]="['/screen/auth']">Back to Login / Register</a>
						</div>
					</div>

					<div *ngIf="checkdata.data">
						<div [ngSwitch]="checkdata.data.action">
							<div *ngSwitchCase="'reset'" class="mdl-grid">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
									<input class="mdl-textfield__input" type="password" id="newpassword" [(ngModel)]="newpassword">
									<label class="mdl-textfield__label" for="newpassword">Enter your new password</label>
								</div>
								<div class="mdl-cell mdl-cell--6-col">
									<button (click)="setNewPass()" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Submit</button>
								</div>
								<div class="mdl-cell mdl-cell--6-col mdl-typography--text-right">
									<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [routerLink]="['/screen/auth']">Back to Login / Register</a>
								</div>
							</div>
							<div *ngSwitchCase="'confirm'" class="mdl-grid">



								<!--@TODO: CONFIRM-->
								<div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
									<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [routerLink]="['/screen/auth']">Back to Profile</a>
								</div>
							</div>
							<div *ngSwitchDefault>output2</div>
						</div>
					</div>
				</div>

			</div>
			<footer class="mdl-cell mdl-cell--12-col">

			</footer>
		</div>
	</div>
</div>