<div class="am-wrap">
	<div *ngIf="!auth.authorized" [@renderAuthTrigger]>
		<h1 class="text-center">Restore Password</h1>
		<div id="restore-pass" class="content-grid mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, consectetur cupiditate dolores ducimus eum laudantium magni, maiores neque praesentium quibusdam ratione repellendus sequi soluta sunt suscipit, tenetur totam unde?
				{{tokenInfo | json}}
			</div>
			<footer class="mdl-cell mdl-cell--12-col">
				<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [routerLink]="['/screen/auth']">Login / Register</a>
				<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [routerLink]="['/']">Root</a>
			</footer>
		</div>
	</div>
</div>