<form class="AMscope" [formGroup]="commentForm" (ngSubmit)="addReview()">
	<div class="row">
		<div class="col-md-4">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input formControlName="name" class="mdl-textfield__input" type="text" id="AM-comment-name" pattern="^[a-zA-Z\s]*$">
				<label class="mdl-textfield__label" for="AM-comment-name">Your Name</label>
				<span class="mdl-textfield__error">Letters only</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input formControlName="email" class="mdl-textfield__input" type="text" id="AM-comment-email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
				<label class="mdl-textfield__label" for="AM-comment-email">Email</label>
				<span class="mdl-textfield__error">Please enter valid email</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input formControlName="website" class="mdl-textfield__input" type="text" id="AM-comment-url" pattern="https?://.+">
				<label class="mdl-textfield__label" for="AM-comment-url">Website</label>
				<span class="mdl-textfield__error">Please enter valid url</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<textarea formControlName="body" class="mdl-textfield__input" type="text" rows="3" id="AM-comment-body"></textarea>
				<label class="mdl-textfield__label" for="AM-comment-body">Your Message...</label>
			</div>
		</div>
	</div>
	<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Submit</button>
</form>