<li *ngFor="let cmnt of CommentsObj.commentsAll; let elmX=index" class="comment" id="comment-id-{{cmnt.comment_id}}">

	<div class="mdl-grid">
		<figure [attr.thumbnailUrl]="cmnt.author.avatar" class="mdl-cell mdl-cell--2-col">
			<img [src]="cmnt.author.avatar" alt="avatar image">
		</figure>
		<div class="mdl-cell mdl-cell--10-col">
			<h4 itemprop="name" class="author">
				<span itemprop="commentTime"> on {{cmnt.date | date:'dd/MM/yyyy'}}</span>, <strong>{{cmnt.author.name}}</strong>
			</h4>

			<div itemprop="commentText" class="content" [innerHTML]="cmnt.content"></div>

			<!--Review Actions-->
			<footer class="mdl-grid">
				<div class="mdl-cell mdl-cell--2-col">
					<button (click)="replyAction(cmnt, elmX)" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">reply</i>
					</button>
				</div>
				<div class="mdl-cell mdl-cell--10-col mdl-typography--text-right">
					<button (click)="editAction(cmnt, elmX)" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">edit</i>
					</button>
					<button (click)="deleteAction(cmnt, elmX)" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">delete</i>
					</button>
				</div>
			</footer>

		</div>
	</div>

</li>